.container:not(:last-child) {
  border-bottom: 1px dashed rgba(100, 100, 100, 0.9);
}

.title {
  font: 32px "Noto Serif TC", serif;
  padding: 35px 0 25px;
}

.chapterButtonGroup {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}
