.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 320px);
}

.column {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.column a {
  /* There is a little white space after the cover image */
  font-size: 0;
}

.skeletonCoverImage {
  aspect-ratio: 4/3;
}

.skeletonTitle {
  font-size: 24px;
  margin-top: 10px;
}

.skeletonPreview {
  height: 150px;
  margin: 10px 0;
}

.coverImage {
  aspect-ratio: 4/3;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.2s ease-out;
  width: 100%;
}

.coverImage:hover {
  opacity: 1;
}

.title {
  color: rgb(180, 0, 40);
  font-size: 24px;
  margin-top: 10px;
}

.preview {
  color: rgb(60, 60, 60);
  font-size: 16px;
  line-height: 1.6;
  margin: 10px 0;
}
