.container {
  display: flex;
  flex-direction: column;
  padding: 5px 0 15px 15px;
  width: 180px;
}

.containerFixed {
  position: fixed;
}

@media (max-width: 1000px) {
  .container {
    display: none;
  }
}

.siblingArticlesButtonGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0;
}

.siblingArticlesButtonGroup button {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  text-align: left;
  width: 100%;
}

.textSmall {
  font-size: 14px;
}

.siblingArticleTitle {
  line-height: 1.4;
}
