.container {
  display: flex;
  flex-direction: column;
  padding: 5px 0 15px 15px;
  width: 180px;
}

.container > div:not(:last-child) {
  border-bottom: 1px dashed rgb(200, 200, 200);
}

@media (max-width: 1024px) {
  .container {
    display: none;
  }
}
