.container {
  display: flex;
  flex-direction: column;
  padding: 5px 0 15px 15px;
  width: 180px;
}

.containerFixed {
  position: fixed;
}

@media (max-width: 1000px) {
  .container {
    display: none;
  }
}
