.container {
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(200, 200, 200, 0.9);
  display: flex;
  height: 55px;
  justify-content: space-between;
  left: 0;
  padding: 0 40px;
  position: fixed;
  top: 0;
  width: 100%;
  /* To make nav stacked above the article cover image */
  z-index: 1;
}

.heading {
  color: #000;
  font-size: 24px;
  transition: 0.2s ease-out;
}

.heading:hover {
  color: rgb(180, 0, 40);
}

.itemsContainer {
  display: flex;
  gap: 40px;
}

.itemsContainer a {
  color: #000;
  font-size: 16px;
}

.itemsContainer a:hover {
  color: rgb(180, 0, 40);
}

.visible {
  opacity: 1;

  /* transition: property name | duration | delay */
  transition: opacity 0.5s 0s, transform 0s 0s;
}

.invisible {
  opacity: 0;
  transform: translateY(-10000px); /* Move the navigation out of the viewport */

  /* transition: property name | duration | delay */
  transition: opacity 0.5s 0s, transform 0s 0.5s;
}
