.outerContainer {
  padding: 0 10px;
}

.skeletonTitle {
  font-size: 36px;
  margin: 35px 0 15px;
}

.title {
  color: rgb(180, 0, 40);
  font: 36px "Noto Serif TC", serif;
  margin: 35px 0 15px;
}

.innerContainer {
  display: flex;
  padding: 20px 0 55px;
}

.contentWrapper {
  border-right: 1px dashed rgb(200, 200, 200);
  color: rgb(30, 30, 30);
  font-family: "Noto Serif TC", serif;
  padding: 20px 15px 15px 0;
  white-space: pre-wrap;
  width: 800px;
}

@media (max-width: 1024px) {
  .outerContainer {
    margin: auto;
  }

  .contentWrapper {
    border: none;
    width: 100%;
  }
}
