.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12.5px;
  height: 230px;
  justify-content: center;
  padding-top: 25px;
}

.heading {
  color: #000;
  font: bold 52px "Poiret One", cursive;
  transition: 0.2s ease-out;
}

.heading:hover {
  color: rgb(180, 0, 40);
}

.description {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}
