.container {
  background: rgb(25, 25, 25);
  display: grid; /* for centering the content */
  padding: 40px 0;
  place-items: center;
}

.gridWrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.aboutText {
  color: rgb(180, 180, 180);
  font-size: 18px;
  grid-column: 1 / span 2;
}
