.tableHeader {
  color: rgba(0, 0, 0, 0.4);
  margin: 25px 0 20px;
}

.tableRow,
.tableRowWithBackground {
  align-items: center;
  display: grid;
}

.tableRow > div:first-child,
.tableRowWithBackground > div:first-child {
  padding-left: 25px;
}

.tableRowWithBackground {
  background: #fff;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  padding: 25px 0;
}

.tableRowWithBackground:hover {
  background: rgba(0, 0, 0, 0.025);
}

.tableGridSeriesList {
  grid-template-columns: 500px 200px 220px 80px;
}

.tableGridChapterList {
  grid-template-columns: 770px 150px 80px;
}

.tableGridArticleList {
  grid-template-columns: 260px 520px 140px 80px;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.iconWrapper {
  align-items: center;
  display: flex;
  gap: 10px;
}

.iconWrapper {
  font-size: 0; /* Remove offsets created by links */
}

.iconWrapper a {
  color: initial;
}

.iconWrapper svg {
  height: 20px;
  width: 20px;
}

.iconWrapper svg:hover {
  stroke: rgb(215, 65, 120);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formInputGroup label {
  display: block;
  margin-bottom: 10px;
}

.formButtonGroup {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.preview {
  line-height: 1.6;
  padding-right: 25px;
}
