.tableHeader {
  color: rgba(0, 0, 0, 0.4);
  margin: 25px 0 20px;
}

.tableRow,
.tableRowWithBackground {
  display: grid;
}

.tableRow > div:first-child,
.tableRowWithBackground > div:first-child {
  padding-left: 25px;
}

.tableRowWithBackground {
  background: #fff;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  padding: 25px 0;
}

.tableRowWithBackground:hover {
  background: rgba(0, 0, 0, 0.025);
}

.tableGridSeriesList {
  grid-template-columns: 500px 200px 220px 80px;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.iconWrapper {
  align-items: center;
  display: flex;
  gap: 10px;
}

.iconWrapper svg {
  height: 20px;
  width: 20px;
}

.iconWrapper svg:hover {
  stroke: rgb(215, 65, 120);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.formInputGroup label {
  display: block;
  margin-bottom: 10px;
}
/*
.tableGridSeriesList {
  grid-template-columns: 550px 200px 150px 100px;
}

.tableGridChapterList {
  grid-template-columns: 850px 150px;
}

.tableGridArticleList {
  grid-template-columns: 280px 500px 120px 100px;
}

.preview {
  line-height: 1.6;
  padding-right: 25px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formGrid {
  display: grid;
  font-size: 18px;
  gap: 20px 30px;
  grid-template-columns: 100px auto;
}

.formGrid > div:nth-child(2n + 1) {
  justify-self: right;
}
*/
