.base {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  padding: 10px;
  transition: 0.15s ease-out;
  width: 100%;
}

.base:focus {
  border-color: rgb(175, 50, 95);
  box-shadow: 0 0 0 2px rgba(215, 65, 120, 0.1);
}
